<?xml version="1.0"?>
<launch>
  <param name="robot_description" command="$(find xacro)/xacro $(find team-ros)/urdf/robot.urdf.xacro" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model robot -param robot_description -x 5 -y 0 -z -0.25" />
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find team-ros)/launch/my_custom_world.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="extra_gazebo_args" value="--verbose"/>
  </include>
</launch>
